.opening-stats {
    font-size: 1.5rem;

    span {
        font-size: 2.5rem;
        margin-left: 10px;
        color: #010065;
        position: relative;
        top: 0.4rem;
    }
}

.mini-table {
    border: 2px solid #010065;
    margin-right: 8%;
    padding: 0;

    p {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .mini-table-header {
        background-color: #010065;
        color: #eee;
        margin: 0 0 10px;
    }
}

.champion {
    background-color: #efe3eb;
    color: #333;
    width: 33%;
    min-width: 200px;
    margin: 25px auto;
    padding: 10px 0;
}

.community-container {

    border: 2px solid #010065;

    .community-header {
        background-color: #010065;
        color: #eee;
    }

    .community-results:nth-child(2n) {
        background-color: #ddd;
    }

    .community-results:first-child {
        background-color: gold;
    }

    .community-results:nth-child(2) {
        background-color: silver;
    }

    .community-results:nth-child(3) {
        background-color: burlywood;
    }

    .community-race-time {
        position: relative;
        top: 3px;
        left: 10px;
    }
}

.z-score {
    font-size: 10px;
    font-weight: 700;
}

.lunarian {
    background-color: #ff9ff0;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.grand-master {
    background-color: #57c2ff;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.master {
    background-color: #68df98;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
    h2 {
        overflow: hidden;
    }
}

.gold {
    background-color: #e4c17c;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}

.silver {
    background-color: #b4b9bf;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}

.bronze {
    background-color: #d6a59a;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}
